[Unit]
Description=Reverse Proxy Server

[Service]
ExecStart=/etc/green-proxy/proxy-runner-lin64
Restart=always

[Install]
WantedBy=multi-user.target
