[Unit]
Description=Reverse Proxy Server

[Service]
ExecStart=/opt/green-proxy/proxy-runner-lin64 --authurl=https://password.berizaryad.ru --authapi=https://password.berizaryad.ru/api/auth --host=http://localhost:4000 --port=:5000 --url=https://swagger.berizaryad.ru --apikey=1234
Restart=always

[Install]
WantedBy=multi-user.target
