[Unit]
Description=Reverse Proxy Server

[Service]
ExecStart=/opt/green-proxy/proxy-runner-lin64 -authUrl=https://password.berizaryad.ru -authApi=https://password.berizaryad.ru/api/auth -host=http://localhost:8080 -port=:3000 -url=https://superset.berizaryad.ru -apiKey=1234
Restart=always

[Install]
WantedBy=multi-user.target
